.wrapper{
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: rgb(180, 110, 29);
  margin-top: 20px;
}
a{
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 5px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}