<p class="einleitung">
  Local Storage
</p>
<p class="infotext">
  Um Daten und Informationen zu speichern braucht man normalerweise eine Datenbank. Für das kurzfristige Speichern von Daten kann man im Frontend aber auch auf das LocalStorage
  eines Browsers zugreifen. Die Todo Liste nutzt beispielsweise das LocalStorage, um neue Aufgaben darin zu speichern. Beim nächsten Aufruf der Website sind die Aufgaben also 
  immernoch da, was ohne das LocalStorage nur mit einem Backend und einer Datenbank möglich wäre.
</p>
<div class="wrap">
    <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/bilder/bilder-beispiele/clippath/clippath.component.html">-> Code der Todo Liste</a>
  </div>
  