<div class="menu">
  <input type="checkbox" class="checkbox" id="toggle">
  <label for="toggle" class="button">
    <span class="icon">&nbsp;</span>
  </label>
  <div class="bg">&nbsp;</div>
  <nav class="nav">
    <ul class="list">
      <li class="item"><a routerLink="" class="link" (click)="onClick()"><span>01</span> Home</a></li>
      <li class="item"><a routerLink="/text" class="link" (click)="onClick1()"><span>02</span> Text</a></li>
      <li class="item"><a routerLink="/bilder" class="link" (click)="onClick2()"><span>03</span> Bilder</a></li>
      <li class="item"><a routerLink="/layout" class="link" (click)="onClick3()"><span>04</span> Layout</a></li>
      <li class="item"><a routerLink="/animationen" class="link" (click)="onClick4()"><span>05</span> Animationen</a></li>
      <li class="item"><a routerLink="/javascript" class="link" (click)="onClick5()"><span>06</span> JavaScript</a></li>
      <li class="item"><a routerLink="/webentwicklung" class="link" (click)="onClick6()"><span>07</span> Webentwicklung</a></li>
    </ul>
  </nav>
</div>
