<h1 class="heading">This is Frontend</h1>
<p class="pcount" #counter>{{count}}</p>
<div class="wrapper">
  <a class="container" routerLink="text" #text>
    <p class="text">Text</p>
  </a>
  <a class="container" routerLink="bilder" #bilder>
    <p class="text">Bilder</p>
  </a>
  <a class="container" routerLink="layout" #layout>
    <p class="text">Layout</p>
  </a>
  <a class="container" routerLink="animationen" #animationen>
    <p class="text">Animationen</p>
  </a>
  <a class="container" routerLink="javascript" #javascript>
    <p class="text">JavaScript</p>
  </a>
  <a class="container" routerLink="entwicklung" #entwicklung>
    <p class="text">Entwicklung</p>
  </a>
</div>
