<h1 class="heading">This is Frontend</h1>
<div class="wrapper">
  <a class="container" routerLink="text">
    <div class="text">Text</div>
  </a>
  <a class="container" routerLink="bilder">
    <div class="text">Bilder</div>
  </a>
  <a class="container" routerLink="layout">
    <div class="text">Layout</div>
  </a>
  <a class="container" routerLink="animationen">
    <div class="text">Animationen</div>
  </a>
  <a class="container" routerLink="javascript">
    <div class="text">JavaScript</div>
  </a>
  <a class="container" routerLink="entwicklung">
    <div class="text">Entwicklung</div>
  </a>
</div>
