.heading{
  font-size: 100px;
  text-align: center;
  padding: 20px;
  letter-spacing: 10px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient( to right,rgb(245, 147, 42), rgb(104, 57, 3));
  -webkit-background-clip: text;
  color: transparent;
}
.pcount{
  font-size: 100px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: -18px 0;
  text-align: center; */
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  color: black;
  animation: pulse 1.5s infinite; 
}
@keyframes pulse {
  0% {
      opacity: 0;
      transform: scale(1)
  }
  50% {
      opacity: 1;
      transform: scale(2)
  }
  100%{
      opacity: 0;
      transform: scale(1)   
  }
}
.wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 100px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
  margin: 40px;
  border: 2px solid rgb(158, 92, 17);
  text-decoration: none;
}
.text{
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient( to right,rgb(245, 147, 42), rgb(104, 57, 3));
  -webkit-background-clip: text;
  color: transparent;
}
@media (max-width: 1660px){
  .wrapper{
    margin: 0 15px;
  }
}
@media (max-width: 1500px){
  .container{
    width: 350px;
    height: 200px;
    margin: 20px;
  }
  .text{
    font-size: 35px;
  }
  .heading{
    font-size: 80px;
  }
}
@media (max-width: 1220px){
  .container{
    width: 400px;
    height: 250px;
    margin: 20px;
  }
  .text{
    font-size: 40px;
  }
}
@media (max-width: 950px){
  .container{
    width: 350px;
    height: 200px;
    margin: 10px;
  }
  .text{
    font-size: 35px;
  }
}
@media (max-width: 790px){
  .container{
    width: 300px;
    height: 180px;
    margin: 5px;
  }
  .text{
    font-size: 32px;
  }
  .heading{
    font-size: 65px;
  }
}
@media (max-width: 690px){
  .container{
    width: 270px;
    height: 160px;
    margin: 5px;
  }
  .text{
    font-size: 27px;
  }
  .heading{
    font-size: 55px;
  }
}
@media (max-width: 610px){
  .container{
    width: 350px;
    height: 200px;
    margin: 5px;
  }
  .text{
    font-size: 35px;
  }
  .heading{
    font-size: 55px;
  }
}
@media (max-width: 420px){
  .container{
    width: 300px;
    height: 180px;
    margin: 5px;
  }
  .text{
    font-size: 32px;
  }
  .heading{
    font-size: 42px;
  }
}