<p class="einleitung">
  Git - Version Control
</p>
<p class="infotext">
  Wie einleitend schon erwähnt ist Git vor allem für die Zusammenarbeit im Team gut. Das gleichzeitige Arbeiten am Code endet dadurch nicht mehr im Chaos. Jeder kann einsehen, wer, wann, was 
  verändert hat. Aber auch für den einzelnen Entwickler hat Git Vorteile. Man kann mit ein paar Einträgen in der Kommandozeile seinen gesamten Code zu einem Provider wie Github oder Bitbucket
  hochladen und spart sich so ein Backup des Codes. <br><br>
  Ein typischer Code Upload sieht so aus:
</p>
