<p class="teasertext">Ein Bild <strong>kann</strong> mehr sagen als 1000 Worte</p>
<p class="infotext">Eine Website besteht hauptsächlich aus Text und Bildern. Diese beiden Elemente sollen dem Nutzer alle relevanten Informationen einer Website übermitteln.
                    Bilder ziehen dabei die meiste Aufmerksamkeit auf sich und stehen auch meistens im Mittelpunkt des Interesses eines Nutzers.
                    Deshalb ist es umso wichtiger, dass man genau weiß, wie man Bilder auf einer Website richtig darstellt. Ob als Hintergrundbild, Galleriebild oder Profilbild, 
                    es gibt verschiedene Möglichkeiten mit Bildern eine Website attraktiver und informativer zu gestalten.
</p>