<ul class="list-bausteine">
  <li class="list-bausteine-li">Schriftgröße
    <p class="text">Wie einleitend schon erwähnt ist die Größe der Schrift entscheidend für eine positive Erfahrung des Nutzers mit der Website.
                    Sie sollte dabei nie zu klein sein und auch entsprechend des Endgeräts (Smartphone, Tablet, PC) angepasst werden.
    </p>
    <p class="css" style="font-weight: 600">CSS Code: <span>font-size: 20px;</span>
    </p>
    <div class="wrapper">
      <div class="wrap">
        <p style="font-size: 20px">Testwort</p>
        <p style="font-size: 15px">font-size: 20px</p>
      </div>    
      <div class="wrap">
        <p style="font-size: 40px; font-weight: 400">Testwort</p>
        <p style="font-size: 15px">font-size: 40px</p>
      </div>
    </div>
  </li>
  <li class="list-bausteine-li">Schriftstärke
    <p class="text">Die Stärke der Schrift ist vor allem dazu da, um bestimmte Teile im Text hervorzuheben. Der Nutzer soll so schnell erkennen können, 
                    was besonders wichtig ist. Außerdem dient sie zur Untergliederung von inhaltlichen Abschnitten z.B. für Überschriften.
    </p>
    <p class="css" style="font-weight: 600">CSS Code: <span>font-weight: 700;</span>
    </p>
    <div class="wrapper">
      <div class="wrap">
        <p style="font-weight: 400">Testwort</p>
        <p style="font-size: 15px">font-weight: 400</p>
      </div>    
      <div class="wrap">
        <p style="font-weight: 700">Testwort</p>
        <p style="font-size: 15px">font-weight: 700</p>
      </div>
    </div>
  </li>
  <li class="list-bausteine-li">Schriftart
    <p class="text">Die Schriftart bietet viel Gestaltungsraum, sollte aber gut gewählt sein. Eine Schriftart die besonders geschmückt ist und schön aussieht,
                    ist für einen längeren Fließtext vielleicht nicht so gut geeignet wie eine einfache Schrift.
    </p>
    <p class="css" style="font-weight: 600">CSS Code: <span>font-family: Lato;</span>
    </p>
    <div class="wrapper">
      <div class="wrap">
        <p>Testwort</p>
        <p style="font-size: 15px">font-family: Lato</p>
      </div>    
      <div class="wrap">
        <p style="font-family: Lobster">Testwort</p>
        <p style="font-size: 15px">font-family: Lobster</p>
      </div>
    </div>
  </li>
  <li class="list-bausteine-li">Schriftfarbe
    <p class="text">Die Schriftfarbe dient ebenso wie die Schriftstärke zum hervorheben von Text. Aber auch hier sollte man eher genau darauf achten, was das Ziel des Textes ist.
                    Denn zu viel oder grelle Farbe kann vom eigentlichen Inhalt des Text ablenken.
    </p>
    <p class="css" style="font-weight: 600">CSS Code: <span>color: #333;</span>
    </p>
    <div class="wrapper">
      <div class="wrap">
        <p style="color: royalblue">Testwort</p>
        <p style="font-size: 15px">color: royalblue</p>
      </div>    
      <div class="wrap">
        <p style="color:crimson">Testwort</p>
        <p style="font-size: 15px">color: crimson</p>
      </div>
    </div>
  </li>
  <li class="list-bausteine-li">Ausrichtung des Text
    <p class="text">Mit der Ausrichtung des Text entscheidet man über die Position des Textes. Überschriften stehen meistens mittig, während Fließtext oft von links 
                    ausgerichtet wird. Aber auch ob der Text im Blocksatz dargestellt werden soll, kann mit der Ausrichtung bestimmt werden.
    </p>
    <p class="css" style="font-weight: 600">CSS Code: <span>text-align: center;</span>
    </p>
    <div class="wrapper">
      <div class="wrap" style="align-items: flex-start">
        <p>Testwort</p>
        <p style="font-size: 15px">text-align: left</p>
      </div>    
      <div class="wrap">
        <p>Testwort</p>
        <p style="font-size: 15px">text-align: center</p>
      </div>
    </div>
  </li>
  <li class="list-bausteine-li">Zeichenabstand
    <p class="text">Der Zeichenabstand beschreibt den Abstand zwischen den einzelnen Buchstaben. Ein bisschen Leerraum zwischen den Buchstaben macht das Lesen oft angenehmer.
                    Auch bei Überschriften macht ein Zeichenabstand oft Sinn.
    </p>
    <p class="css" style="font-weight: 600">CSS Code: <span>letter-spacing: 2px;</span>
    </p>
    <div class="wrapper">
      <div class="wrap">
        <p style="letter-spacing: 2px">Testwort</p>
        <p style="font-size: 15px">letter-spacing: 2px</p>
      </div>    
      <div class="wrap">
        <p style="letter-spacing: 5px">Testwort</p>
        <p style="font-size: 15px">letter-spacing: 6px</p>
      </div>
    </div>
  </li>
  <li class="list-bausteine-li">Zeilenabstand
    <p class="text">Ebenso wie der Zeichenabstand dient der Zeilenabstand um Leerraum zu schaffen, allerdings zwischen den einzelnen Zeilen. Auch hier gilt, dass Leerraum 
                    angenehmer wirkt. 
    </p>
    <p class="css" style="font-weight: 600">CSS Code: <span>line-height: 1.9;</span>
    </p>
    <div class="wrapper">
      <div class="wrap">
        <p style="font-size: 12px; line-height: 1.5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint soluta odio consectetur ipsum consequatur eos obcaecati ullam.
        </p>
        <p style="font-size: 15px">line-height: 1.5</p>
      </div>    
      <div class="wrap">
        <p style="font-size: 12px; line-height: 1.9">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint soluta odio consectetur ipsum consequatur eos obcaecati ullam. 
        </p>
        <p style="font-size: 15px">line-height: 1.9</p>
      </div>
    </div>  
  </li>      
</ul>
