<p class="einleitung">
  SEO
</p>
<p class="infotext">
  SEO steht für Search Engine Optimization (Suchmaschinenoptimierung) und bezeichnet Maßnahmen, mit welchen Websites im Ranking von Suchmaschinen weiter vorne erscheinen. 
  Sucht ein Nutzer bei Google beispielsweise nach bestimmten Schlagwörtern, dann wird er mit einer hohen Wahrscheinlichkeit auf eines der Suchergebnisse auf der ersten Seite klicken.
  Nur die wenigsten schauen sich auch Suchergebnisse auf der zweiten oder dritten Seite an und noch weniger die der folgenden Seiten.
  SEO ist also für das gefunden werden einer Website von entscheidender Bedeutung und ist somit ein essentieller Bestandteil des Web&#8209;Marketing.
  Für eine SEO optimierte Website sollte man folgende Dinge beachten:
</p>
<div class="wrap">
  <div>
    <p class="infotext2">Beschaffenheit einer Website</p>
    <ul>
      <li>sicher (https)</li>
      <li>schnelle Ladezeit</li>
      <li>mobil optimiert</li>
      <li>klare URLs</li>
    </ul>
  </div>
  <div>
    <p class="infotext2">Inhalt einer Website</p>
    <ul>
      <li>guter Titel im title&#8209;tag</li>
      <li>Beschreibung im meta&#8209;tag</li>
      <li>alt&#8209;attribut bei img verwenden</li>
      <li>h&#8209;tags für die Gliederung</li>
    </ul>
  </div>
  <div>
    <p class="infotext2">Kontakte einer Website</p>
    <ul>
      <li>andere Websites verlinken auf die eigene</li>
      <li>link zur Website auf Social&#8209;Media Seiten</li>
    </ul>
  </div> 
</div>
<p class="infotext">
  Eine ausführliche Beschreibung findet man im <a href="https://support.google.com/webmasters/answer/7451184?hl=de">SEO Style&#8209;Guide</a> von Google.
</p>
<p class="infotext">
  Zu guter letzt sei noch gesagt, dass es einfach eine Weile dauert, bis eine Website im Ranking steigt. Die meisten Websites brauchen ca. 2-3 Jahre bis sie auf den 
  vorderen Plätzen einer Suchmaschine landen.
</p>