<p class="einleitung">
  Beispiele
</p>

<div class="wrap2">
  <div class="wrap3">
   <p class="info">
      Hintergrundbild mit Clippath
    </p>
    <app-clippath></app-clippath>
    <div class="wrap">
      <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/bilder/bilder-beispiele/clippath/clippath.component.html">-> HTML Code</a>
      <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/bilder/bilder-beispiele/clippath/clippath.component.css">-> CSS Code</a>
    </div>
  </div>

  <div class="wrap3">
    <p class="info">
      Hintergrundbild mit Gradient
    </p>
    <app-gradient-bg></app-gradient-bg>
    <div class="wrap">
      <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/bilder/bilder-beispiele/gradient-bg/gradient-bg.component.html">-> HTML Code</a>
      <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/bilder/bilder-beispiele/gradient-bg/gradient-bg.component.css">-> CSS Code</a>
    </div>
  </div>
</div>

<p class="info">
  Fullscreen Hintergrundbild
</p>
<app-full-bg></app-full-bg>
<div class="wrap">
  <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/bilder/bilder-beispiele/full-bg/full-bg.component.html">-> HTML Code</a>
  <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/bilder/bilder-beispiele/full-bg/full-bg.component.css">-> CSS Code</a>
</div>

<p class="info">
  Bilder in Spalten
</p>
<app-columns></app-columns>
<div class="wrap">
  <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/bilder/bilder-beispiele/columns/columns.component.html">-> HTML Code</a>
  <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/bilder/bilder-beispiele/columns/columns.component.css">-> CSS Code</a>
</div>

<p class="info">
  Profilbilder
</p>
<app-profilbilder></app-profilbilder>
<div class="wrap">
  <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/bilder/bilder-beispiele/profilbilder/profilbilder.component.html">-> HTML Code</a>
  <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/bilder/bilder-beispiele/profilbilder/profilbilder.component.css">-> CSS Code</a>
</div>





