<p class="einleitung">
  Flexbox
</p>
<p class="infotext">
  Jeder Webentwickler der alten Schule weiß, dass das Layout einer Website nicht immer so einfach war wie heute und man mit floats und clear nicht immer seinen Spaß hatte.
  Seit Flexbox kann man die einzelnen Bausteine einer Website deutlich einfacher und flexibler positionieren. Und auch die Gestaltung eines responsive Layouts wird dadurch wesentlich einfacher.
  <br><br> Einen sehr guten Leitfaden für die Benutzung von Flexbox findet man auf <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">CSS-Tricks</a>
</p>