<p class="teasertext">Flat, Responsive, Modern</p>
<p class="infotext">Das Layout einer Website wird oft unterschätzt, spielt aber eine entscheidende Rolle für den Erfolg bzw. Misserfolg einer Website.
                    Häufig sieht man Seiten die mit Inhalt und Verlinkungen überladen sind, sodass der Nutzer schnell den Überblick verliert und überfordert das Handtuch wirft.
                    Gutes Layout leitet den Nutzer ohne viel Suchaufwand zu den relevanten Inhalten einer Seite und gibt den einzelnen Elementen den Platz, den sie brauchen, um 
                    abgegrenzt von anderen Inhalten im Fokus zu stehen. Als Layout wird dabei die Positionierung der einzelnen Elemente auf einer Website gesehen.
</p>