<p class="infotext">So würde der einleitende Text übrigens ohne Styling aussehen:  
</p>
<div class="wrap">
  <p>Es geht um mehr als "nur" den Inhalt.</p>
  <p>Gibt es im Web wirklich so viele Online-Sehtests oder ist man gerade einfach mal wieder auf einer Website mit winziger Schrift gelandet?
      Ok, vielleicht ist das tatsächlich ein Sehtest. Dann machen die kleinen Buchstabene durchaus Sinn, bei denen man sich so anstrengen muss um sie zu entziffern.
      Andernfalls hat sich der Entwickler der Website über das Text-Layout wohl einfach keine Gedanken gemacht und ihm war nicht bewusst, dass Nutzer mit hoher
      Wahrscheinlichkeit die Website gleich wieder verlassen werden, da sie einfach keine Lust auf einen weiteren Sehtest haben. 
  </p>
  <p>Doch nicht nur die Größe der Schrift, sondern auch die Schriftstärke, Schriftart, Schriftfarbe, Ausrichtung des Text, sowie Zeichen- und Zeilenabstand sind 
        wichtige Bestandteile für ein gelungenes Text-Layout.
  </p>
</div>

