<div class="gallery">
  <figure class="gallery-item">
      <img src="../../../../assets/hero-small.jpg" alt="reitstall 1" class="gallery-photo">
  </figure>
  <figure class="gallery-item">
      <img src="../../../../assets/hero-small.jpg" alt="reitstall 2" class="gallery-photo">
  </figure>
  <figure class="gallery-item">
      <img src="../../../../assets/hero-small.jpg" alt="reitstall 3" class="gallery-photo">
  </figure>
  <figure class="gallery-item">
      <img src="../../../../assets/hero-small.jpg" alt="reitstall 1" class="gallery-photo">
  </figure>
  <figure class="gallery-item">
      <img src="../../../../assets/hero-small.jpg" alt="reitstall 2" class="gallery-photo">
  </figure>
  <figure class="gallery-item">
      <img src="../../../../assets/hero-small.jpg" alt="reitstall 2" class="gallery-photo">
  </figure>
</div>

