<div class="gallery">
  <figure class="gallery-item">
      <img src="../../../../assets/hero-small.jpg" alt="gallery 1" class="gallery-photo">
  </figure>
  <figure class="gallery-item">
      <img src="../../../../assets/hero-small.jpg" alt="gallery 2" class="gallery-photo">
  </figure>
  <figure class="gallery-item">
      <img src="../../../../assets/hero-small.jpg" alt="gallery 3" class="gallery-photo">
  </figure>
  <figure class="gallery-item">
      <img src="../../../../assets/hero-small.jpg" alt="gallery 4" class="gallery-photo">
  </figure>
  <figure class="gallery-item">
      <img src="../../../../assets/hero-small.jpg" alt="gallery 5" class="gallery-photo">
  </figure>
  <figure class="gallery-item">
      <img src="../../../../assets/hero-small.jpg" alt="gallery 6" class="gallery-photo">
  </figure>
</div>

