<p class="einleitung">
  Beispiele
</p>

<div class="wrap2">
  <div class="wrap3">
    <p class="info">
      Hover ohne Transition
    </p>
    <app-transition-ohne></app-transition-ohne>
    <div class="wrap">
      <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/bilder/bilder-beispiele/clippath/clippath.component.html">-> HTML Code</a>
      <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/bilder/bilder-beispiele/clippath/clippath.component.css">-> CSS Code</a>
    </div>
  </div>

  <div class="wrap3">
    <p class="info">
      Hover mit Transition
    </p>
    <app-transition></app-transition>
    <div class="wrap">
      <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/bilder/bilder-beispiele/gradient-bg/gradient-bg.component.html">-> HTML Code</a>
      <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/bilder/bilder-beispiele/gradient-bg/gradient-bg.component.css">-> CSS Code</a>
    </div>
  </div>
</div>