<p class="einleitung">
  Beispiele
</p>

<div class="wrap2">
  <div class="wrap3">
    <p class="info">
      Hover ohne Transition
    </p>
    <app-transition-ohne></app-transition-ohne>
    <div class="wrap">
      <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/animationen/animationen-beispiele/transition-ohne/transition-ohne.component.css">-> CSS Code</a>
    </div>
  </div>

  <div class="wrap3">
    <p class="info">
      Hover mit Transition
    </p>
    <app-transition></app-transition>
    <div class="wrap">
      <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/animationen/animationen-beispiele/transition/transition.component.css">-> CSS Code</a>
    </div>
  </div>
</div>

<app-slide-in></app-slide-in>
<div class="wrap">
  <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/animationen/animationen-beispiele/slide-in/slide-in.component.css">-> CSS Code</a>
</div>

<p class="info">
  Schneefall
</p>
<app-schnee></app-schnee>
<div class="wrap">
  <a href="https://github.com/HannesNeumeyer/frontend/blob/master/src/app/animationen/animationen-beispiele/schnee/schnee.component.css">-> CSS Code</a>
</div>