<p class="teasertext">Für ein besseres Nutzererlebnis</p>
<p class="infotext">Animationen sind moderne Elemente im Web und machen den Unterschied zwischen einer gewöhnlichen und einer besonderen Website.
                    Mit Transitions kann man relativ einfach das Nutzererlebnis verbessern, indem man Elemente von einem Zustand in einen anderen fließen lässt.
                    Für komplexere Animationen kann man mit sogenannten Keyframes jeden einzelnen Schritt beim Übergang von Elementen bestimmen.
</p>