<p class="einleitung">
  HTML img vs CSS background&#8209;image
</p>
<p class="infotext">
  <span class="non">Man kann sowohl mit dem HTML&#8209;tag img als auch mit der CSS Eigenschaft background-image Bilder im Web darstellen. Nur wann sollte man welche Variante wählen?<br></span>
  Grundsätzlich gilt die Faustregel: Ist das Bild ein <strong>Teil des Inhalts</strong>, dann sollte man das Bild über den HTML&#8209;tag <strong>img</strong> einbauen
  und zusätzlich das Bild mit dem alt Attribut beschreiben. Dies begünstigt die Erreichbarkeit bei Suchmaschienen wie Google.<br>
  Bilder die ausschließlich zu <strong>Design</strong> Zwecken verwendet werden können auch über die CSS Eigenschaft <strong>background&#8209;img</strong> in eine Website integriert werden.
</p>