<p class="teasertext">Die Sprache des Internets</p>
<p class="infotext">HTML formt eine Website. CSS sorgt für das Aussehen. Und JavaScript haucht dem Ganzen Leben ein. Mit der Programmiersprache JavaScript steuert man das Verhalten
                    der Elemente einer Website, man kann sie manipulieren und verändern. Nutzerinteraktionen, wie das Versenden eines Kontaktformulars oder das Erstellen einer Liste
                    funktionieren via JavaScript. Auch externe Daten wie z.B. Wetterdaten von wunderground.com kann man mit JavaScript über die API (Programmierschnittstelle) der Website 
                    problemlos in sein eigenes Projekt einbauen.
</p>
