<p class="einleitung">
  Responsive Layout
</p>
<p class="infotext">
  Responsive Layout beschreibt die optimierte Darstellung von Inhalten einer Website für alle Endgeräte (Smartphone, Tablet, PC). Da heute mehr Menschen über ihr Smartphone oder
  Tablet ins Internet gehen als am PC, ist ein responsive Layout für jede Website ein MUSS. Andernfalls wird auf allen Geräten die gleiche Website angezeigt, was auf dem Smartphone 
  zu einer winzigen Schrift und teilweise verschobenen Inhalten führt.
</p>
<div class="wrapper">
  <p class="infotext2">
    Mit sogenannten media-queries kann man Inhalte für jede Bildschirmgröße anpassen. In diesem Beispiel wird die Schriftgröße ab einer Bildschirmgröße von 901px von 18px auf 25px erhöht.
  </p>
  <img class="image" src="../../../assets/media.JPG" alt="media querie code">
</div>
